djangorestframework
djangorestframework-simplejwt
django-cors-headers
requests
pandas
matplotlib
scipy
seaborn
scikit-learn
prettytable
statsmodels
psycopg
javalang
transformers
pylint
xgboost
openai
torch
pygments
openpyxl
aiohttp
reportlab
textstat
