
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Complexity Results</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Code Complexity Results</h1>

    {% for file in complexities %}
        <div class="metrics">
            <h2>Filename: {{ file.filename }}</h2>
            <h3>Overall Metrics</h3>
            <table>
                <thead>
                    <tr>
                        <th>CBO</th>
                        <th>MPC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ file.cbo }}</td>
                        <td>{{ file.mpc }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="line-complexity">
            <h3>Line Complexity Details</h3>
            <table>
                <thead>
                    <tr>
                        <th>Line Number</th>
                        <th>Line</th>
                        <th>Size</th>
                        <th>Tokens</th>
                        <th>Control Structure Complexity</th>
                        <th>Nesting Weight</th>
                        <th>Inheritance Weight</th>
                        <th>Compound Condition Weight</th>
                        <th>Try-Catch Weight</th>
                        <th>Thread Weight</th>
                        <th>Total Complexity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in file.complexity_data %}
                        <tr>
                            <td>{{ line.0 }}</td>
            <td>{{ line.1 }}</td>
            <td>{% if line.2 != 0 %}{{ line.2 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.3 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.4 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.5 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.6 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.7 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.8 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.9 }}{% endif %}</td>
            <td>{% if line.2 != 0 %}{{ line.10 }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <h3>Complexity Contribution</h3>
            <img src="{% static 'images/' %}{{ file.pie_chart_path }}" class="pie-chart" alt="Complexity Pie Chart">
        </div>

        <div>
        <h3>Refactoring Recommendations</h3>
        <table>
            <thead>
                <tr>
                    <th>Line Number</th>
                    <th>Line Content</th>
                    <th>Recommendation</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in file.recommendations %}
                    <tr>
                        <td>{{ rec.line_number }}</td>
                        <td>{{ rec.line_content }}</td>
                        <td>{{ rec.recommendation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="method-complexity">
            <h3>Method Complexity Details</h3>
            <table>
                <thead>
                    <tr>
                        <th>Method Name</th>
                        <th>Size</th>
                        <th>Control Structure Complexity</th>
                        <th>Nesting Level</th>
                        <th>Inheritance Level</th>
                        <th>Compound Condition Weight</th>
                        <th>Try-Catch Weight</th>
                        <th>Thread Weight</th>
                        <th>Total Complexity</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for method in file.method_complexities %}
                        <tr>
                            <td>{{ method.method_name }}</td>
                            <td>{{ method.size }}</td>
                            <td>{{ method.control_structure_complexity }}</td>
                            <td>{{ method.nesting_level }}</td>
                            <td>{{ method.inheritance_level }}</td>
                            <td>{{ method.compound_condition_weight }}</td>
                            <td>{{ method.try_catch_weight }}</td>
                            <td>{{ method.thread_weight }}</td>
                            <td>{{ method.total_complexity }}</td>
                        <td>{{ method.category }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    
    <a href="/">Upload More Files</a>
</body>
</html>
